<!DOCTYPE html>
<html>

<head>
    <title>ir-greek-parliment</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <a href="/"><h1 class="text-center mt-3">Greek Parliment Speaches Search</h1></a>

        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Αναζήτηση
                    κειμένου</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#keywords" aria-selected="false" role="tab"
                    tabindex="-1">Αναζήτηση keywords</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#pairs" aria-selected="false" role="tab"
                    tabindex="-2">Ομοιότητες</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="home" role="tabpanel">
                <form action="/" method="GET" class="mt-5">

                    <div class="text-center mb-3">
                        <div class="input-group w-50 mx-auto">
                            <input id="q" type="text" name="q" placeholder="Search..." value="{{ query or '' }}"
                                class="form-control form-control-lg rounded-pill ps-4" style="border-right: none;">
                            <button class="btn btn-primary btn-lg rounded-pill px-4" type="submit"
                                style="margin-left: -50px; z-index: 10;">
                                Search
                            </button>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center gap-4 mt-4 flex-wrap">

                        <div class="d-flex flex-column">
                            <label for="from" class="form-label">From Date</label>
                            <input id="from" class="form-control" type="date" name="from">
                        </div>

                        <div class="d-flex flex-column">
                            <label for="to" class="form-label">To Date</label>
                            <input id="to" class="form-control" type="date" name="to">
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="keywords" role="tabpanel">
                <form action="/keywords" method="GET" class="mt-5">

                    <div class="text-center mb-3 mt-3">
                        Αναζήτηση ανα βουλευτή
                        <div class="input-group w-50 mx-auto m-4">
                            <input id="b" type="text" name="member" placeholder="Όνομα βουλευτή"
                                value="{{ query or '' }}" class="form-control form-control-lg rounded-pill ps-4"
                                list="namelist" style="border-right: none;">
                            <button class="btn btn-primary btn-lg rounded-pill px-4" type="submit"
                                style="margin-left: -50px; z-index: 10;">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
                <form action="/keywords" method="GET" class="mt-5">

                    <div class="text-center mb-3">
                        Αναζήτηση ανα κόμμα
                        <div class="input-group w-50 mx-auto m-4">
                            <input id="k" type="text" name="party" placeholder="Όνομα κόμματος"
                                value="{{ query or '' }}" class="form-control form-control-lg rounded-pill ps-4"
                                list="partylist" style="border-right: none;">
                            <button class="btn btn-primary btn-lg rounded-pill px-4" type="submit"
                                style="margin-left: -50px; z-index: 10;">
                                Search
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="tab-pane fade" id="pairs" role="tabpanel">
                <form action="/pairs" method="GET" class="mt-5">

                    <div class="text-center mb-3">
                        <div class="input-group w-50 mx-auto m-4">
                            <input id="k" type="number" name="pairs_k" placeholder="Αριθμός top-k ζεύγη"
                                value="{{ query or '' }}" class="form-control form-control-lg rounded-pill ps-4" style="border-right: none;">
                            <button class="btn btn-primary btn-lg rounded-pill px-4" type="submit"
                                style="margin-left: -50px; z-index: 10;">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <datalist id="namelist">
            {% for name in names %}
            <option value="{{ name }}"></option>
            {% endfor %}
        </datalist>

        <datalist id="partylist">
            {% for party in partys %}
            <option value="{{ party }}"></option>
            {% endfor %}
        </datalist>
    </div>




    </div>
    <div class="container">
        <div class="results">
            {% if results is not none %}

            {% for item in results %}
            <div class="card shadow-sm my-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h3 class="card-title mb-0">
                            {{ item[1] }}
                        </h3>
                        <small class="text-muted">
                            {{ item[2] }}
                        </small>
                    </div>

                    <span class="badge bg-secondary mb-3">
                        {{ item[3] }}
                    </span>

                    <p class="card-text mt-3">
                        {{ item[7] }}
                    </p>
                </div>
            </div>

            {% endfor %}

            {% else %}
            <p class="no-results">No results found{% if query %} for "{{ query }}"{% endif %}</p>
            {% endif %}
        </div>
    </div>

</body>
<script src="static/bootstrap.min.js"></script>

</html>